@charset "utf-8";

article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

li,
ul {
  list-style: none
}

ol,
ol li {
  list-style: inside decimal
}

iframe {
  border: none
}

img {
  -ms-interpolation-mode: bicubic;
  border: none
}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

audio:not([controls]) {
  display: none;
  height: 0
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit
}

button[disabled],
input[disabled] {
  cursor: default
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible
}

button::-moz-focus-inner,
button::-moz-focus-outer,
input::-moz-focus-inner,
input::-moz-focus-outer {
  margin: 0;
  padding: 0;
  border: 0
}

input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top
}

a {
  text-decoration: none;
  background-color: transparent
}

*:focus {
  outline: 0
}

blockquote,
q {
  quotes: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400
}

b,
strong {
  font-weight: 400
}

em,
i {
  font-style: normal
}

.none {
  display: none
}

.clearfix {
  *zoom: 1
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both
}

@font-face {
  font-family: Nikefont;
  src: url(../image/nikefont-webfont.eot?);
  src: url(../image/nikefont-webfont.eot?#iefix?) format('embedded-opentype'), url(../image/nikefont-webfont.woff2?) format('woff2'), url(../image/nikefont-webfont.woff?) format('woff'), url(../image/nikefont-webfont.ttf?) format('truetype'), url(../image/nikefont-webfont.svg#nike_total_90regular?) format('svg');
  font-weight: 400;
  font-style: normal
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1)
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg)
  }

  100% {
    -webkit-transform: scale(1) rotate(0)
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1)
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg)
  }

  100% {
    -webkit-transform: scale(1) rotate(0)
  }
}

body {
  line-height: 1.8;
  position: relative;
  *zoom: 1;
  background: #f1f1f1;
  font-size: 12px;
  color: #000;
  font-family: Consolas, 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif
}

a {
  color: #369
}

a:hover {
  color: #f39
}

a:active {
  color: #93f
}

table td {
  border: 1px solid #ddd;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 24px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: pointer
}

hr {
  margin: 5px 0
}

.footer,
.header {
  color: #ccc;
  background-color: #222;
  position: relative;
  *zoom: 1;
  padding: 10px 20px;
  box-shadow: 0 1px 1px #ccc
}

.footer:after,
.header:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both
}

.footer a,
.header a {
  color: #ccc
}

.footer a:hover,
.header a:hover {
  color: #0cf
}

.header {
  border-bottom: 1px solid #888;
  background: url(../image/iruxu.png?) left center no-repeat #222;
  _background: url(../image/iruxu.jpg?) #222 no-repeat left center
}

.header h1 {
  font-size: 48px;
  padding: 6px 0 6px 88px;
  line-height: 42px;
  text-shadow: 2px 2px 2px #000;
  -webkit-transition: .6s;
  transition: .6s;
  color: #ddd;
  font-family: Nikefont, 'Trebuchet MS', Helvetica, Arial;
  -webkit-font-smoothing: antialiased
}

.header h1:hover {
  color: #0cf;
  -webkit-animation: tada 1s .2s ease both;
  animation: tada 1s .2s ease both
}

.header p {
  position: absolute;
  right: 10px;
  top: 15px;
  text-align: right
}

.header #nav {
  position: absolute;
  left: 280px;
  top: 30px
}

.header #nav ul {
  *zoom: 1
}

.header #nav ul:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both
}

.header #nav ul li {
  float: left;
  *display: inline;
  margin-right: 5px;
  cursor: pointer;
  font-family: Trebuchet MS;
  text-align: center;
  background: #222;
  border: 1px solid #333;
  box-shadow: 1px -1px 1px #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.header #nav ul li a {
  display: block;
  font-size: 14px;
  line-height: 42px;
  height: 42px;
  padding: 0 20px
}

.header #nav ul li.on,
.header #nav ul li:hover {
  color: #0cf;
  background: #181818;
  border: 1px solid #0cf;
  border-bottom: none;
  text-shadow: 0 0 8px #09f
}

.header #nav ul li.on a,
.header #nav ul li:hover a {
  color: #0cf
}

.header #showmenu {
  display: none;
  background: url(../image/list.png?) center center no-repeat;
  cursor: pointer;
  width: 40px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 20px
}

.footer {
  box-shadow: 0 -1px 1px #ccc
}

.footer h5 {
  border-bottom: 1px dotted #777;
  margin: 10px 0;
  padding: 0;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px
}

.footer div {
  float: left;
  width: 200px;
  margin-right: 20px
}

.footer h6 {
  border-bottom: 1px dashed #fff;
  margin: 0;
  padding: 0;
  color: #0cf;
  cursor: pointer
}

.footer h6 span {
  float: right
}

.content {
  padding: 20px;
  *zoom: 1
}

.content:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both
}

.content .col,
.content>ul {
  float: left;
  *display: inline;
  width: 220px;
  margin-right: 10px;
  overflow: hidden
}

.content .col .block,
.content .col>li,
.content>ul .block,
.content>ul>li {
  margin-bottom: 10px
}

.content .col .block h3,
.content .col>li h3,
.content>ul .block h3,
.content>ul>li h3 {
  background: #333;
  text-indent: 5px;
  color: #f2f2f2;
  margin: 5px 0;
  *zoom: 1
}

.content .col .block h3:after,
.content .col>li h3:after,
.content>ul .block h3:after,
.content>ul>li h3:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both
}

.content .col .block h3:hover,
.content .col>li h3:hover,
.content>ul .block h3:hover,
.content>ul>li h3:hover {
  color: #0cf
}

.content .col .block h3 span,
.content .col>li h3 span,
.content>ul .block h3 span,
.content>ul>li h3 span {
  padding-right: 10px;
  float: right;
  *display: inline
}

.content .col .block .contents,
.content .col .block>div,
.content .col>li .contents,
.content .col>li>div,
.content>ul .block .contents,
.content>ul .block>div,
.content>ul>li .contents,
.content>ul>li>div {
  padding: 0 5px
}

.content .col .block .contents h4,
.content .col .block>div h4,
.content .col>li .contents h4,
.content .col>li>div h4,
.content>ul .block .contents h4,
.content>ul .block>div h4,
.content>ul>li .contents h4,
.content>ul>li>div h4 {
  color: #666
}

.content .col .block .contents h4:hover,
.content .col .block>div h4:hover,
.content .col>li .contents h4:hover,
.content .col>li>div h4:hover,
.content>ul .block .contents h4:hover,
.content>ul .block>div h4:hover,
.content>ul>li .contents h4:hover,
.content>ul>li>div h4:hover {
  color: #93f !important;
  font-weight: 700 !important
}

.content .col .block .contents ul li,
.content .col .block>div ul li,
.content .col>li .contents ul li,
.content .col>li>div ul li,
.content>ul .block .contents ul li,
.content>ul .block>div ul li,
.content>ul>li .contents ul li,
.content>ul>li>div ul li {
  color: #888;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0
}

.content .col .block .contents ul li:hover,
.content .col .block>div ul li:hover,
.content .col>li .contents ul li:hover,
.content .col>li>div ul li:hover,
.content>ul .block .contents ul li:hover,
.content>ul .block>div ul li:hover,
.content>ul>li .contents ul li:hover,
.content>ul>li>div ul li:hover {
  background: #ffe5ff;
  color: #93f;
  cursor: pointer;
  border-top: 1px dashed #f39;
  border-bottom: 1px dashed #f39
}

.content .col .block .contents ul li:hover a,
.content .col .block>div ul li:hover a,
.content .col>li .contents ul li:hover a,
.content .col>li>div ul li:hover a,
.content>ul .block .contents ul li:hover a,
.content>ul .block>div ul li:hover a,
.content>ul>li .contents ul li:hover a,
.content>ul>li>div ul li:hover a {
  color: #f39
}

.content .col .block .contents ul li a,
.content .col .block>div ul li a,
.content .col>li .contents ul li a,
.content .col>li>div ul li a,
.content>ul .block .contents ul li a,
.content>ul .block>div ul li a,
.content>ul>li .contents ul li a,
.content>ul>li>div ul li a {
  padding-right: 2px
}

.content .col .block .contents ul li a[href^=http],
.content .col .block>div ul li a[href^=http],
.content .col>li .contents ul li a[href^=http],
.content .col>li>div ul li a[href^=http],
.content>ul .block .contents ul li a[href^=http],
.content>ul .block>div ul li a[href^=http],
.content>ul>li .contents ul li a[href^=http],
.content>ul>li>div ul li a[href^=http] {
  display: block;
  width: 100%;
  height: 100%
}

.content .col .block .contents ul li .tips,
.content .col .block .contents ul li span,
.content .col .block>div ul li .tips,
.content .col .block>div ul li span,
.content .col>li .contents ul li .tips,
.content .col>li .contents ul li span,
.content .col>li>div ul li .tips,
.content .col>li>div ul li span,
.content>ul .block .contents ul li .tips,
.content>ul .block .contents ul li span,
.content>ul .block>div ul li .tips,
.content>ul .block>div ul li span,
.content>ul>li .contents ul li .tips,
.content>ul>li .contents ul li span,
.content>ul>li>div ul li .tips,
.content>ul>li>div ul li span {
  display: none;
  min-width: 180px;
  max-width: 600px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px;
  position: absolute;
  *zoom: 1;
  background-color: rgba(0, 0, 0, .8);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#cc000000, endColorstr=#cc000000) \0;
  _background-color: #000;
  border: 1px solid #111;
  color: #ccc;
  font-weight: 400;
  border-radius: 4px
}

.content .col .block .contents ul li .tips:after,
.content .col .block .contents ul li span:after,
.content .col .block>div ul li .tips:after,
.content .col .block>div ul li span:after,
.content .col>li .contents ul li .tips:after,
.content .col>li .contents ul li span:after,
.content .col>li>div ul li .tips:after,
.content .col>li>div ul li span:after,
.content>ul .block .contents ul li .tips:after,
.content>ul .block .contents ul li span:after,
.content>ul .block>div ul li .tips:after,
.content>ul .block>div ul li span:after,
.content>ul>li .contents ul li .tips:after,
.content>ul>li .contents ul li span:after,
.content>ul>li>div ul li .tips:after,
.content>ul>li>div ul li span:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both
}

.content .col .block .contents ul li .tips textarea,
.content .col .block .contents ul li span textarea,
.content .col .block>div ul li .tips textarea,
.content .col .block>div ul li span textarea,
.content .col>li .contents ul li .tips textarea,
.content .col>li .contents ul li span textarea,
.content .col>li>div ul li .tips textarea,
.content .col>li>div ul li span textarea,
.content>ul .block .contents ul li .tips textarea,
.content>ul .block .contents ul li span textarea,
.content>ul .block>div ul li .tips textarea,
.content>ul .block>div ul li span textarea,
.content>ul>li .contents ul li .tips textarea,
.content>ul>li .contents ul li span textarea,
.content>ul>li>div ul li .tips textarea,
.content>ul>li>div ul li span textarea {
  font-family: consolas !important
}

.content .col .block .contents ul li .tips table,
.content .col .block .contents ul li span table,
.content .col .block>div ul li .tips table,
.content .col .block>div ul li span table,
.content .col>li .contents ul li .tips table,
.content .col>li .contents ul li span table,
.content .col>li>div ul li .tips table,
.content .col>li>div ul li span table,
.content>ul .block .contents ul li .tips table,
.content>ul .block .contents ul li span table,
.content>ul .block>div ul li .tips table,
.content>ul .block>div ul li span table,
.content>ul>li .contents ul li .tips table,
.content>ul>li .contents ul li span table,
.content>ul>li>div ul li .tips table,
.content>ul>li>div ul li span table {
  max-width: 98% !important
}

.content .col .block .contents ul li .tips span,
.content .col .block .contents ul li span span,
.content .col .block>div ul li .tips span,
.content .col .block>div ul li span span,
.content .col>li .contents ul li .tips span,
.content .col>li .contents ul li span span,
.content .col>li>div ul li .tips span,
.content .col>li>div ul li span span,
.content>ul .block .contents ul li .tips span,
.content>ul .block .contents ul li span span,
.content>ul .block>div ul li .tips span,
.content>ul .block>div ul li span span,
.content>ul>li .contents ul li .tips span,
.content>ul>li .contents ul li span span,
.content>ul>li>div ul li .tips span,
.content>ul>li>div ul li span span {
  position: static
}

.snippet {
  z-index: 10;
  display: none;
  padding: 10px;
  position: fixed;
  _position: absolute;
  *zoom: 1;
  width: 800px;
  height: 380px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -190px;
  _top: expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight/2));
  background: #333;
  border: 1px solid #0cf;
  box-shadow: 0 0 6px #000;
  color: #fff
}

.snippet a {
  color: #0cf
}

.snippet a:hover {
  display: inline-block;
  color: #f39
}

.snippet h6 {
  cursor: move;
  border-bottom: 1px dashed #fff;
  margin: 0;
  padding: 0;
  color: #0cf
}

.snippet .close {
  position: absolute;
  right: 8px;
  top: 5px;
  cursor: pointer;
  font-size: 24px;
  line-height: 1
}

.snippet .box {
  margin-top: 5px;
  color: #ccc;
  overflow-y: auto;
  height: calc(100% - 34px)
}

.snippet .box b {
  color: #ff0
}

.snippet .box strong {
  color: red
}

.snippet .box textarea {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: auto
}

.snippet .box pre {
  border: 1px solid #666
}

.snippet .box code {
  font-family: Consolas
}

@media (max-width:720px) {
  .header #nav {
    display: none;
    position: fixed;
    left: 0;
    top: 75px;
    width: 100%;
    height: 100%
  }

  .header #nav ul li {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 0
  }

  .header #nav ul li.on {
    border: 1px solid #0cf;
    margin-bottom: 1px
  }

  .header p {
    display: none
  }

  .header #showmenu {
    display: block
  }

  #RegEXP>div,
  .content .col,
  .content>ul,
  .footer div {
    width: 100%;
    margin: 0 auto;
    float: none
  }

  .snippet {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0
  }

  .snippet h6 {
    padding: 5px 10px
  }

  .snippet .box {
    padding: 0 10px
  }
}

/* git命令样式开始 */
.gitCommand{
	color:rgb(238,225,172);
	background:rgb(32,47,50);
	width:1400px;
	height:940px;
	margin:0 auto;
	border: 1px solid #2222ff;
}
.north{
	width:1310px;
	height:80px;
	margin-left:35px;
	border: 1px solid #535353;
}
.git-northLeft label{
	float:left;
	color:rgb(238,225,172);
	font-size:30px;
	font-weight:bold;
	margin-top:22px;
	border: 1px solid #535353;
}
.northRigth{
	float:right;
	margin-right:12px;
	width:360px;
	font-size:14px;
	margin-top:25px;
	border: 2px solid #7DAC75;
	border-radius:4px;
}
.nr{
	float:left;
	width:47%;
	margin-left:10px;
}
.nrName{
	float:left;
	width:30%;
	color:#649292;
	font-weight:bold;
}
.nrTip{
	float:left;
	width:70%;
	color:#7DAC75;
	font-weight:bold;
}
.line{
	width:1300px;
	height:8px;
	margin-left:35px;
}
.git-center{
	margin-top:-8px;
}

.center-vertical {
	float:left;
	margin-left:25px;
	width:30%;
	border: 1px solid #535353;
}

.categary{
	float:left;
	width:100%;
	margin-top:15px;
	min-height:30px;
	font-family:verdana;
	border: 1px solid #111111;
}
.git-title{
	background:rgb(175,63,103);
	float:left;
	width:97%;
	font-size:14px;
	font-weight:bold;
	
	color:#ffffff;
	margin-left:12px;
	height:20px;
	border: 1px solid #333355;
	border-radius:3px;
	
}
.git-title div{
	margin-left:12px;
	line-height:20px;
}
.orders{
	margin-top:25px;
	width:100%;
	border: 1px solid #333355;
}
.order{
	float:left;
	margin-left:25px;
	width:52%;
	height:20px;
	font-size:14px;
	font-weight:bold;
	color:#649292;
	border: 1px solid #333355;
}

.order-line2{ 
	float:left;
	margin-left:25px;
	width:52%;
	font-size:14px;
	font-weight:bold;
	color:#649292;
	height:34px;
	line-height:16px;
}
.order-line3{ 
	float:left;
	margin-left:25px;
	width:52%;
	font-size:14px;
	font-weight:bold;
	color:#649292;
	height:45px;
	line-height:16px;
}
.tip{
	float:right;
	margin-right:10px;
	width:38%;
	height:20px;
	font-size:13px;
	line-height:20px;
	vertical-align: middle;
	font-weight:bold;
	color:#7DAC75;
	border: 1px solid #333355;
}
.tip-line2{ 
	float:right;
	margin-right:10px;
	width:38%;
	font-size:13px;
	vertical-align: middle;
	font-weight:bold;
	color:#7DAC75;
	height:34px;
	line-height:14px;
}
.tip-line3{ 
	float:right;
	margin-right:10px;
	width:38%;
	font-size:13px;
	vertical-align: middle;
	font-weight:bold;
	color:#7DAC75;
	height:45px;
	line-height:14px;
}
/* git命令样式结束 */